{% extends "base.html" %} 
{% block content %}
<!-- CHOOSE PLANT FROM A SELECTION OF LEVELS -->
<!-- Enpoint: / -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<style>
    /* Custom CSS for rounded container */
    .rounded-container {
        border-radius: 20px;
        background-color: #EEFFD1; /* Adjust background color as needed */
        padding: 20px;
        height: 80%;
    }
</style>
<div class="container mt-4">
    <!-- Rounded container behind main content -->
    <!-- Main content container -->
    <div class="rounded-container p-4">
        <!-- Dashboard content goes here -->
        <h1>Welcome, {{ user.name }}</h1>
        <div class="row">
            <div class="col-md-6">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Total number of your plants</h5>
                        <p class="card-text">{{ total_user_plants }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
{% endblock %}